#Regitrationtable{
    border: 2px solid black;
}
.tablecolumn{
    border: 2px solid black;
}
.Registrationtable{
    background-color: blue;
}
.Registrationtable:hover{
    background-color: rgb(0, 255, 72);
}